$icon-font-path: "../fonts/";
@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";
@import "bootstrap/bootswatch";

@import "elements/requestoutcome";
@import "elements/searchbar";
@import "elements/searchbarplaylist";
@import "elements/navbartop";
@import "elements/dropdownmenu";
@import "elements/playlist";
@import "elements/option";
@import "elements/outcomes";
@import "elements/urlembed";
@import "elements/authorname";
@import "elements/suboutcome";
@import "elements/column";
@import "elements/createplaylistbutton";

// Medium Editor theme (copied from medium-editor npm)
// TODO: Link directly to stylesheets in medium-editor npm
@import "medium-editor";
@import "medium-editor-theme-default";

html {
	-webkit-overflow-scrolling: touch;
}


div.url-embed {
	position: relative;
	display: block;
	padding: 1em;
	text-align: center;
	margin-bottom: 0.5em;
	background-color: #E9FF9E;
}

div.url-embed::after { 
    content: "EMBEDDED URL";
    font-size: 11px;
    position: absolute;
    bottom: 3px;
    right: 5px;
}
