$icon-font-path: "../fonts/";
@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";
@import "bootstrap/bootswatch";

@import "elements/requestoutcome";
@import "elements/searchbar";
@import "elements/searchbarplaylist";
@import "elements/navbartop";
@import "elements/dropdownmenu";
@import "elements/playlist";
@import "elements/option";
@import "elements/urlembed";
@import "elements/authorname";
@import "elements/suboutcome";
@import "elements/column";
@import "elements/createplaylistbutton";

// Medium Editor theme (copied from medium-editor npm)
// TODO: Link directly to stylesheets in medium-editor npm
@import "medium-editor";
@import "medium-editor-theme-default";

a.list-group-item.create-outcome input{
	outline: none;
}

a.list-group-item.create-outcome:hover{
	background: transparent;
}