.author-name { 
  font-size: 0.8em;
  font-family: Akkurat-Bold;
  margin-bottom: 0.5em;
  padding-top: 0.8em;
  padding-bottom: 2em;
  font-color: #222;
  text-transform: uppercase;
  color: $gray-dark;
}
