.column {
  border-left: 2px solid #ECEBEC;
  overflow: scroll;
  height: 100vh;
}


/* ==========================================================================
   State 1 - Homepage
   ========================================================================== */
.column.state-1.active {
  margin-left: 15%;
  border-left: 0px solid transparent;
  width: 70%;
  opacity: 1;
}

/* ==========================================================================
   State 2 & 3 - Playlists open
   ========================================================================== */
.state-2 {
	width: 50%;
}

.state-2.column-2-hovered  {
	width: 30%;

.compensate-for-the-nav{
	opacity: 0.1;
}

a.list-group-item {
	  	opacity: 0.1;
	  }
	  a.list-group-item:hover, a.list-group-item:focus {
	  	opacity: 1;
	  }


}


.state-3 {
	width: 50%;
	opacity: 0.1;
}

.state-3.hovered {
   width: 70%;
   opacity: 1;
}



 /* ==========================================================================
   State 4, 5 & 6 - Options open
 ========================================================================== */


.state-4 {
	width: 10%;
	opacity: 0.1;
}

.state-4.hovered {
	width: 50%;
	opacity: 1;

	.list-group {
	width: 100%;
	margin-left: 0;
	margin-top: 0;
}
.form-control {
	display: block;
}
}

.state-5 {
	width: 80%;
	opacity: 1;
}


.state-5.hovered  {
	width: 80%;
	opacity: 1;
}

.state-5.column-1-hovered {
	width: 50%;
	opacity: 0.1;
}

.state-5.column-3-hovered {
	width: 40%;
	opacity: 0.1;
.upvote {
	display: none;
}
}


.state-6 {
	width: 10%;
	opacity: 0.1;

.options-multiple {
	width: 400%;
}

.nomargin-playlist {
	width: 400%;

}
	.panel-heading  {
	opacity: 0;
	}
}

.state-6.hovered {
	width: 60%;
	opacity: 1;

.options-multiple {
	width: 100%;
}

.nomargin-playlist {
	width: 70%;

}


}


.state-4.column-3-hovered {
	display: none;
}

.state-4 {
	.list-group {
	width: 400%;
	margin-left: -300%;
	margin-top: 0.5em;
}

.form-control {
	display: none;
}
}



.state-6.column-1-hovered {
	display: none;
}




