.createplaylistbutton {
	bottom: 20px;
	right: 50px;
	position: absolute;
	z-index: 100;
	color: #222;
}

.createoptionbutton {
	position: fixed !important;
	bottom: 0;
	margin-left: 50px;
	padding: 20px 0;
	z-index: 100;
	width: 100%;
	background: #fff;
	text-align: center;
	opacity: 1;
}

.column.column-1-hovered .createplaylistbutton,
.column.column-3-hovered .createplaylistbutton,
.column.column-1-hovered .createoptionbutton,
.column.column-2-hovered .createoptionbutton{
	display:none;
}

.createicon {
  color: #222;
  height: 100%;
  width: 100%;
 }

 .btn-link:hover {
    color: #000;
    }

.btn-link:active {
	color: #00FF9B;
}