.createplaylistbutton {
	bottom: 20px;
	right: 50px;
	padding: 0;
	position: absolute;
	z-index: 100;
}

.createoptionbutton {
	bottom: 10px;
	right: 20px;
	padding: 0;
	position: absolute;
	z-index: 100;
}

.column.column-1-hovered .createplaylistbutton,
.column.column-3-hovered .createplaylistbutton,
.column.column-1-hovered .createoptionbutton,
.column.column-2-hovered .createoptionbutton{
	display:none;
}

.createicon {
  color: #222;
  height: 100%;
  width: 100%;
 }

 .btn-link:hover {
    color: #00FF9B;
    }