.navbar-title {
  position: fixed;
  width: 100%;
  left: 0;
  top: 30;
  text-align: center;
  margin: auto;
  padding: 12px 0;
  font-size: 23px;
  line-height: $line-height-computed;
  height: $navbar-height;
  font-weight: $logo-font-weight;
  }