.navbar-title {
  position: fixed;
  width: 100%;
  left: 0;
  top: 30;
  text-align: center;
  margin: auto;
  padding: 12px 0;
  font-size: 23px;
  line-height: $line-height-computed;
  height: $navbar-height;
  font-weight: $logo-font-weight;
}

.marginleft {
  margin-left: 15px;
}

.navbarhidemobilemenu {

  .navbar-collapse.collapse {
    display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
    float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right!important;
  }
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

/* Set brand z-index so it's clickable */
/* Set width so that it doesn't prevent left/right navbar items from being clickable */
.navbar-default .logo.navbar-brand {
  z-index: 9999;
  width: 38px;
  left: 50%;
  padding-right: 19; /* half of width */
}

.navbar-default .navbar-brand:hover {
  background: transparent;
}




