.options-multiple { 
  padding-right: 0em;
}

.option-container {

  position: relative;
  margin-bottom: 3em;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 2em;

:focus {
  outline-color: transparent;
  outline-style: none;
}

 .optionplaylist {
  color: $gray-dark;
  font-size: 2em;
 }


 .btn-success {
    margin: -0.3em 0 0 0.3em;
    padding: 0;
    font-size: 1.1em;
    background: transparent;
    color: #222;
    box-shadow: 0 0 0;
    }
.btn-link {
    margin: -0.3em 0 0 0.3em;
    padding: 0;
    font-size: 1.1em;
    color: $gray-dark;
    }
  .upvote{
     position: absolute;
    margin-left: -2em;
    top: 0.2em;
    font-size: 2em;
    line-height: 1em;
   
    .count{
       margin-bottom: 0;
       text-align: center;
    }

    button{

    }

  }

}