.options-multiple { 
  padding-right: 0em;
}

.option-container {

  position: relative;
  margin-bottom: 3em;
  padding-left: 21%;
  padding-right: 23%;
  margin-top: 2em;

   p {
    font-family: "Akkurat-Regular";
    color: #333333;
    font-size: 16px;
    line-height: 1.58;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

 .optionplaylist {
  color: $gray-dark;
  font-size: 2em;
 }

.upvotediv:hover {
.alternativetext {
   line-height: 1em;
    height: 30px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
   font-family: 'Akkurat-Regular';
   color: #9B9B9B;
  display: inline-block;
}
}

  @media (max-width: 769px) {
.alternativetext {
     font-size: 3vmin;

}
}
 @media (min-width: 770px) {
.alternativetext {
     font-size: 1em;

}
}
.upvotediv {

  height: 80px;
  padding-bottom: 10em;

.alternativetext {
  display: none;
}

  .upvote{
    margin-top: 0.45em;
    line-height: 1em;
    font-size: 2.4em;
    float: right;
    width: 100%;
    height: 50px;
        
    .btn-link {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #cdcdcd;
    width: 100%;
    height: 65px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    }

:focus {
  outline-color: transparent;
  outline-style: none;
}
    .btn-link:hover {
    border: 1px solid #333;
    border-radius: 3px;
   color: #333;

    }

    .btn-success {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: transparent;
    color: #000;
    box-shadow: 0 0 0;
    width: 100%;
    height: 65px;
    border: 2px solid #cdcdcd;
    border-radius: 2px;
    }
     .btn-success:hover {
    border: 2px solid #cdcdcd;
    border-radius: 2px;
    color: #222;
    }
  }
}

.listnumber {
  float: left;
  font-size:1.2em;
  font-family: 'Akkurat-Regular';
  color: #000;
 }

}

.alternativeauthor{
  border-bottom: 3px #F7F7F7 solid;
  padding-bottom: 2em;
  }
  .count{
    float: right;
    bottom: 0;
    font-size:1em;
    font-family: 'Akkurat-Bold';
    color: #850057;
    }

 .backicon {
  margin-top: -110px;
  color: #000;
  font-size: 2.5em;
  cursor: pointer;
 }

@media (max-width: 769px) {
.back-button {
  position: fixed;
  width: 100vw;
  height: 50px;
  margin-top: 60px;
  margin-left: 20px;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: flex-start; /* Safari */
  justify-content:         flex-start;
  cursor: pointer;
  z-index: 1;

}

.option-container {

  position: relative;
  margin-bottom: 3em;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 2em;

}
.back-button:hover {
  color: #cdcdcd;
}
}
@media (min-width: 770px) {
  .back-button {
  position: fixed;
  width: 50px;
  height: 100vh;
  background-color: #fff;
  margin-left: -52px;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
  cursor: pointer;
}
.back-button:hover {
  position: fixed;
  width: 50px;
  background-color: #fdfdfd;
}
}


