  @media (max-width: 769px) {
   .panel-heading {
  border: 0px solid #fff;

}
.learninglistheaderstyle {
  
  padding: 50vmin 3% 50px 3%; 
  font-family: 'Akkurat-Bold';
  color: #fff;
  text-align: left;
  width: 100%;
  background-color: #00FF9B;

.backplaylist {
  position: fixed;
  background-color: #000;
  height: 50px;
  width: 50px;
  z-index: 999;
}


}

.howto {
  font-size: 9vmin;
  line-height: 1.1em;
   margin: 0;
  padding: 0;
}


.learninglist {
font-size: 5vmin;
line-height: 1em; 
margin: 0; 
padding: 0;
}

  }

@media (min-width: 770px) {
.panel-heading {
  margin-bottom: 4px;
  color: #333;
  background: #fff;
  border: 2px solid #F7F7F7;
  font-family: 'Akkurat-Bold';
  border-radius: 3px;

 .suboutcome-header-title {
  display:inline-block;
  padding: 25px 10px;
  cursor: pointer;

 } 

}


.learninglistheaderstyle {
  padding: 80px; 
  font-family: 'Akkurat-Bold';
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: #00FF9B;

}

.howto {
  font-size: 3.2em;
  line-height: 1.6em;
   margin: 0;
  padding: 0;
}


.learninglist {
font-size: 1.9em;
line-height: 1em; 
margin: 0; 
padding: 0;
}




.panel-heading:hover {
  background: #f7f7f7;
}
}

.playlists-multiple {  
margin-top: 50px;

}

.editbutton {
float: right;
}

.playlist-container.editing {
  padding-left: 25%;
  min-width: 50%;
  padding-right: 25%;
  margin-top: 5em;

.bottomborder {
    border-bottom: 0px solid #fff; 
    padding-bottom: 10em;
  }

.author-name {
   display: none;
}

  .countdiv {
    display: none;
  }


}

.playlist-container {
  position: relative;
  padding-left: 21%;
  padding-right: 25%;
  margin-bottom: 5em;
  margin-top: 3em;
  line-height: 1.2;

  .bottomborder {
    padding-bottom: 5em;
  }
 
 .listnumber {
  float: left;
  font-size:1.5em;
  font-family: 'Akkurat-Regular';
  color: #000;
 }

.countdiv {
  border-bottom: 3px #F7F7F7 solid;
  padding-bottom: 2em;
}

.count{
    float: right;
    bottom: 0;
    font-size:1.2em;
    font-family: Akkurat-Bold;
    color: #00FF9B;
    }

.inputchapter::-webkit-input-placeholder {
   line-height: 1.2em;
}

.inputchapter::-moz-placeholder {  /* Firefox 19+ */
   line-height: 1.2em;
}

.inputchapter:-ms-input-placeholder {  
   line-height: 1.2em;
}

.inputdescription::-webkit-input-placeholder {
   height: 2em;
   color: #9B9B9B;
   font-family: 'Akkurat-Regular';
   font-size: 1.3em;
}

.inputdescription::-moz-placeholder {  /* Firefox 19+ */
   height: 2em;
   color: #9B9B9B;
  font-family: 'Akkurat-Regular';
     font-size: 1.3em;

}

.inputdescription:-ms-input-placeholder {  
   height: 2em;
   color: #9B9B9B;
  font-family: 'Akkurat-Regular';
     font-size: 1.3em;

}



 .optionplaylist {
  color: $gray-dark;
  font-size: 2em;
 }


:focus {
  outline-color: transparent;
  outline-style: none;
}

p {
 font-family:"Akkurat-Regular";
 color: #333333;
 font-size: 16px; 
 line-height: 1.58;

}

.panel-heading {
  margin-bottom: 7px;
  color: #333;
  background: #fff;
  border: 2px solid #F7F7F7;
  font-family: 'Akkurat-Bold';
  border-radius: 1px;
  .suboutcome-header-title {
  display:inline-block;
  padding: 25px 10px;
  cursor: pointer;

 } 
}
.panel-heading:hover {
  background: #f7f7f7;
}


.upvotediv:hover {
.helptext {
   line-height: 1em;
    height: 30px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
   font-family: 'Akkurat-Regular';
   color: #9B9B9B;
  display: inline-block;
}
}

  @media (max-width: 769px) {
.helptext {
     font-size: 3.5vmin;

}
}
 @media (min-width: 770px) {
.helptext {
     font-size: 1.1em;

}
}
.upvotediv {

  height: 80px;
  padding-bottom: 5em;

.helptext {
  display: none;
}

  .upvote{
    margin-top: 0.45em;
    line-height: 1em;
    font-size: 2.4em;
    float: right;
    width: 100%;
    height: 50px;
        
    .btn-link {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #cdcdcd;
    width: 100%;
    height: 65px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    }

:focus {
  outline-color: transparent;
  outline-style: none;
}
    .btn-link:hover {
    border: 1px solid #333;
    border-radius: 3px;
   color: #333;

    }

    .btn-success {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background: transparent;
    color: #000;
    box-shadow: 0 0 0;
    width: 100%;
    height: 65px;
    border: 2px solid #cdcdcd;
    border-radius: 2px;
    }
     .btn-success:hover {
    border: 2px solid #cdcdcd;
    border-radius: 2px;
    color: #222;
    }
  }

}
}

.icon.icon-iframely {
    display: none;
}



.panel-group {
    margin-bottom: 12px;
}

@media (min-width: 770px) {
  .back-button {
    display: none;
  }
}







