.compensate-for-the-nav {
  margin: 0;
  padding: 0;
  text-align: left;


  .form-group {
    margin-bottom: 8px;
    padding-left: 29px;
  }

.optiongreen {
  color: $gray-light;
  font-size: 28px;
}

.btn-link{
  padding: 10px 8px 0px 0px;
}

.nomargin {
  margin: 0 0 -5px 0;
}

}
.inputplaceholder {
  font-size: 30px;
  ::-webkit-input-placeholder::before {  font-family: symbols; content:'\EA0D'; color: $gray-dark}
  ::-moz-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-dark} /* firefox 19+ */
  :-ms-input-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-dark} /* ie */
  input:-moz-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-dark}

  input[type=text]
{
    padding-top: 10px;
    text-align: left;
    font-size: 30px !important;
    color: $gray-dark;

}
 

}

.latest-first {}

