.compensate-for-the-nav-playlist {
  margin-top: 49px;
  text-align: center;

  .form-group {
    margin: 0;
  }

.optiongray-playlist {
  color: $gray-light;
  font-size: 24px;
}

.btn-link{
  padding: 10px 8px 0px 0px;
}

.nomargin-playlist {
  margin: 0 6em 0 6em;
  border-bottom: 1px solid $gray-lighter;
}

}
.inputplaceholder-playlist {
  font-size: 30px;
  ::-webkit-input-placeholder::before {  font-family: symbols; content:'\EA0D'; color: $gray-light}
  ::-moz-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-light} /* firefox 19+ */
  :-ms-input-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-light} /* ie */
  input:-moz-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-light}

  input[type=text]
{
    text-align: center;
    font-size: 30px !important;
    line-height: 1.6 !important;


}
 

}

.latest-first {}

