.compensate-for-the-nav {
  margin-top: 70px;
  text-align: center;


  .form-group {
    
  }

.optiongreen {
  color: $gray-light;
  font-size: 28px;
}

.btn-link{
  padding: 10px 8px 0px 0px;
}

.nomargin {
  margin: 0 0 -5px 0;
}

}
.inputplaceholder {
  font-size: 30px;
  ::-webkit-input-placeholder::before {  font-family: symbols; content:'\EA0D'; color: $gray-light}
  ::-moz-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-light} /* firefox 19+ */
  :-ms-input-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-light} /* ie */
  input:-moz-placeholder::before  {  font-family: symbols; content:'\EA0D'; color: $gray-light}

  input[type=text]
{
    text-align: center;
    font-size: 35px !important;
    line-height: 1.6 !important;


}
 

}

.latest-first {}

