.suboutcome-container.options-shown{

  .suboutcome-header-title{
  }

    .options-icon {
    color: #000;
    font-size: 61px;
      cursor: default;
}
}

/* Hide if being dragged via React Dnd so that it leaves an empty space */
.suboutcome-container.is-dragging{
  opacity: 0;
}

.suboutcome-container {

.btn {
  padding: 0;
}

    .upvote{
    text-align: center;
    }
    .author-name {
  color: #CACACA;
  padding-bottom: 0;
}

 .options-button {
  font-size: 1.3em;
  display: inline-block;
  float: right;
  color: $gray-dark;
  text-decoration: underline;
  margin-top: 1.5em;
}
.options-button:hover {
  color: #850057;
}
}

.suboutcome-body {
  p { 
font-family:"Akkurat-Light";
color: $gray;
text-align: justify;

}


}

.optionsicondiv {
float: right;
display: -webkit-flex;
display: flex;
margin-top: -16px;


.btn-success {
    margin: 0;
    padding: 0;
    margin: 16px 0 0 0;
    font-size: 1.4em;
    background: transparent;
    color: #222;
    box-shadow: 0 0 0;
    }
.btn-link {
    margin: 0;
    padding: 0;
    margin: 16px 0 0 0;
    font-size: 1.4em;
    background: transparent;
    color: #9C9C9C;
    box-shadow: 0 0 0;
    }
}

.smallvoteicon {
    display: -webkit-flex;
  display: flex;
  padding-top: 20px;
  z-index: 10;
  display: inline-block;
  width: 20px;
  height: 20px;
  

}


